aside.legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 6px 8px;
  font-size: 12px;
  font-family: sans-serif;
  background: white;
  background: rgba(255,255,255,0.9);
  border-radius: 5px;
  max-width: 222px;

  @media @tablet {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    max-width: 100%;
  }

  @media @mobile {
    padding: 6px 0;
  }

  h1 {
    margin: 5px 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
  }

  .total {
    font-size: 13px;
    font-style: italic;
    padding-bottom: 3px;
  }

  ul.scale {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    padding-bottom: 8px;

    li {
      line-height: 18px;
      margin-bottom: 2px;

      @media @tablet {
        float: left;
        text-align: center;
        width: 100% / @legend-length;
      }
    }

    .block {
      width: 2em;
      height: 12px;
      display: inline-block;
      vertical-align: text-top;
      opacity: 0.8;
      margin-right: 4px;
      border: 1px solid @df-light-gray;

      @media @tablet {
        display: block;
        width: auto;
        border: none;
        margin-right: 0px;
      }
    }
  }
}

.source {
  font-family: @df-sans;
  font-size: 11.5px;
  padding-top: 15px;
  color: #999;

  .note {
    font-style: italic;
    padding-bottom: 8px;
  }

  .credit {
    font-style: normal;
    font-size: 95%;
    text-transform: uppercase;
    display: block;
  }
}
