<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="outmost">
        <div class="title">King County’s foreign-born communities</div>
        <div class="chatter">Use this census tract map to see where the top international populations live.</div>

        <div class="flex-container">
          <div class="aspect-ratio-outer">
            <div class="aspect-ratio-inner">
              <leaflet-map lat="47.49" lng="-122.28" zoom=10>
                <tile-layer layer="cartoPositron"></tile-layer>
              </leaflet-map>
            </div>

            <aside class="legend">
              <div class="key"></div>
            </aside>
          </div>

          <div class="tabs">
            <div class="overall selected tab">Overall foreign-born population</div>
            <div class="tab">Mexico and Central America</div>
            <div class="tab">China</div>
            <div class="tab">Eastern Africa</div>
            <div class="tab">India</div>
            <div class="tab">Eastern Europe</div>
            <div class="tab">Vietnam</div>
            <div class="tab">Philippines</div>
            <div class="tab">Korea</div>
            <div class="tab">Canada</div>
            <div class="tab">Middle East</div>
            <div class="tab">Taiwan</div>
            <div class="tab">Japan</div>

            <div class="source">
              <div class="note">Note: This map was originally shaded according to numeric populations. It has been updated to reflect population density per square mile.</div>
              <em>Source: U.S. Census Bureau</em>
              <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
            </div>
          </div>

        </div>
      </div>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
