<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="outmost">
        <div class="title">Title goes here</div>
        <div class="chatter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur dolor metus, id tincidunt nibh laoreet sit amet. Vivamus vitae molestie nisi. Cras euismod libero non ultrices lobortis.</div>

        <div class="flex-container">
          <div class="aspect-ratio-outer">
            <div class="aspect-ratio-inner">

              <leaflet-map lat="47.49" lng="-122.35" zoom=10>
                <tile-layer layer="cartoPositron"></tile-layer>
              </leaflet-map>

            </div>
          </div>

          <div class="tabs">
            <div class="selected tab">Overall</div>
            <div class="tab">Central America</div>
            <div class="tab">Mexico</div>
            <div class="tab">China</div>
            <div class="tab">Eastern Africa</div>
            <div class="tab">India</div>
            <div class="tab">Eastern Europe</div>
            <div class="tab">Vietnam</div>
            <div class="tab">Philippines</div>
            <div class="tab">Korea</div>
            <div class="tab">Canada</div>
            <div class="tab">Middle East</div>
            <div class="tab">Japan</div>
          </div>
        </div>
      </div>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
